.img-signup-model {
    background-image: url("../images/signup_banner_web.jpg");
}

.panel-standalone .wz-icon-bw li > a p {
    margin-bottom: 0;
}

.panel-standalone .wz-steps {
    padding: 10px 0;
}

.signup-steps.wz-icon-bw li:not(.active) > a p {
    color: #ffffff !important;
}
.font-normal {
    color: #404040;
}

.animated-fade {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .signup-or {
        margin-top: 80px;
    }
}
