<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NeverestFe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{content-for 'head'}}
    
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/neverest-fe.css">

    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/neverest-fe.js"></script>
    <script>
        Ember.View.reopen({
            didInsertElement : function(){
                this._super();
                Ember.run.scheduleOnce('afterRender', this, this.afterRenderEvent);
                var allFormEl = $('.form-checkbox, .form-radio');
                if(allFormEl.length) allFormEl.niftyCheck();
            },
            afterRenderEvent : function(){
              // implement this hook in your own subclasses and run your jQuery logic there
            }
        });
    </script>
    
    {{content-for 'body-footer'}}
  </body>
</html>
