<div id="container" class="cls-container">
    <div id="bg-overlay" class="bg-img img-signup-model"></div>
    <div class="cls-header cls-header-lg">
        <div class="cls-brand">
            <a class="box-inline" href="/">
                <span class="brand-title">
                    foshio
                </span>
            </a>
        </div>
    </div>
    <div class="cls-content">
        <div class="clearfix">
            <div class="row-fluid">
                <div class="col-md-4 col-md-offset-2"></div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="panel-standalone">
                        <ul class="row wz-step wz-icon-bw wz-nav-off mar-top wz-steps signup-steps">
                            <li class="col-xs-3">
                                <a data-toggle="tab" href="#tab-signup-signup">
                                    <span class="icon-wrap icon-wrap-xs bg-danger"><i class="fa fa-info"></i></span>
                                    <p class="text-thin">Sign up</p>
                                </a>
                            </li>
                            <li class="col-xs-3">
                                <a data-toggle="tab" href="#tab-signup-profession">
                                    <span class="icon-wrap icon-wrap-xs bg-warning"><i class="fa fa-user"></i></span>
                                    <p class="text-thin">Profession</p>
                                </a>
                            </li>
                            <li class="col-xs-3">
                                <a data-toggle="tab" href="#tab-signup-more">
                                    <span class="icon-wrap icon-wrap-xs bg-info"><i class="fa fa-home"></i></span>
                                    <p class="text-thin">Lil more..</p>
                                </a>
                            </li>
                            <li class="col-xs-3">
                                <a data-toggle="tab" href="#tab-signup-finish">
                                    <span class="icon-wrap icon-wrap-xs bg-success"><i class="fa fa-heart"></i></span>
                                    <p class="text-thin">Done</p>
                                </a>
                            </li>
                        </ul>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-4 col-md-offset-2 panel font-normal">
                <div class="panel-body">
                    {{#if loginFailed}}
                    <div class="alert alert-info animated-fade">
                        <i class="fa fa-exclamation-triangle"></i>
                        &nbsp;Invalid username or password.
                    </div>
                    {{/if}}
                    <form {{action "signup" on="submit"}}>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                {{input value=email type="email" class="form-control" placeholder="Email"}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                                {{input value=password type="password" class="form-control" placeholder="Password"}}
                            </div>
                        </div>
                        <div class="center-block pad-top">
                            <button type="submit" class="btn btn-primary btn-lg btn-block btn-purple">
                                <i class="glyphicon glyphicon-ok"></i>
                                &nbsp;&nbsp;Sign Up and Get Started
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1">
                <h1 class="pad-btm signup-or">or</h1>
            </div>
            <div class="col-md-4 panel font-normal" style="min-height: 203px">
                <div class="panel-body">
                    <button class="btn btn-primary btn-lg btn-block" type="button" id="test">
                        <i class="fa fa-facebook fa-fw"></i> Sign Up with Facebook
                    </button>
                    <p class="pad-top lead">-or-</p>
                    <button class="btn btn-primary btn-lg btn-block" type="button">
                        <i class="fa fa-google fa-fw"></i> Sign Up with Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}
